<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get CRUD</title>
</head>
<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
    }

    .button-edit {
        background: orange;
        outline: none;
        border: none;
        height: 20px;
        width: 60px;
        margin: 5px;
        border-radius: 5px;
        cursor: pointer;
    }

    .button-del {
        background: red;
        outline: none;
        border: none;
        height: 20px;
        width: 60px;
        margin: 5px;
        border-radius: 5px;
        cursor: pointer;
    }
</style>

<body>
    <table style="width:100%">
        <tr>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Actions</th>
        </tr>
        <% for(let i=0; i < datatable.length; i++) { %>
            <tr>
                <td>
                    <%= datatable[i].email %>
                </td>
                <td>
                    <%= datatable[i].firstName %>
                </td>
                <td>
                    <%= datatable[i].lastName %>
                </td>
                <td>
                    <%= datatable[i].address %>
                </td>
                <td>
                    <%= datatable[i].phonenumber %>
                </td>
                <td>
                    <a href="/edit-crud?id=<%= datatable[i].id %>" class="button-edit" type="button">Edit</a>
                    <a href="/delete-crud?id=<%= datatable[i].id %>" class="button-del" type="button">Delete</a>
                </td>
            </tr>
            <% } %>
    </table>
</body>

</html>